$white: white;
$purple: #d70f64;

@mixin my-flex-row-between {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@mixin my-flex-row-around {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@mixin my-flex-column {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin my-h1 {

  color: $white;
  font-size: 42px;
}

@mixin my-h2 {

  color: $purple;
  font-size: 30px;
  margin-bottom: 20px;
}

@mixin my-p-white {

  color: $white;
  font-size: 18px;
  margin-bottom: 20px;
}

@mixin my-img-cont {

  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display:  none;
  text-align: center;
}

@mixin my-width-40 {

  width: 40%;
  height: 100%;
}

@mixin my-width-100 {

  width: 100%;
  height: 100%;
}

@mixin my-button-purple {

  background: $purple;
  padding: 0px 15px;
  color: $white;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  cursor: pointer;
}
